<nav class="nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Resource Graph</a>
    <a class="nav-item nav-link" routerLink="/attendance" routerLinkActive="active">Attendance Graph</a>
    <a class="nav-item nav-link" routerLink="/courses" routerLinkActive="active">Course Percentage Graph</a>
    <a class="nav-item nav-link" routerLink="/courseDetails" routerLinkActive="active">Course details Graph</a>
    <a class="nav-item nav-link" routerLink="/wfh" routerLinkActive="active">Work from home graph</a>
    <a class="nav-item nav-link" routerLink="/wfo" routerLinkActive="active">work from office graph</a>
</nav>
<div>
    <router-outlet></router-outlet>
</div>
